<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmFlock</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="icon" href="../assets/img/FarmFlock.png">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- FILE CSS -->
    <link rel="stylesheet" href="../assets/style/style.css">
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header_ptl" class="header fixed-top d-flex">
      <div class="container-fluid d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between">
              <i class="bi bi-list toggle-sidebar-btn"></i>
          </div>
      
          <div class="d-flex justify-content-between align-items-end">
              <a href="#" class="logo d-flex">
                  <span class="d-none d-lg-block mr-3">Farm</span>
                  <span class="d-none d-lg-block">
                      <img src="../assets/img/FarmFlock.png" alt="" style="margin-left: 5px; margin-right: 5px; margin-top: -10px;">
                  </span>
                  <span class="d-none d-lg-block">Flock</span>
              </a>
          </div>
          
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
          
          <div class="d-flex flex-column align-items-center mb-3 mt-2">
              <img id="ppptl" alt="" height="80px" width="80px" class="rounded-circle">
              <b><h4 class="mt-3" id="h4NamaPTL"></h4></b>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script>
                $(document).ready(function() {
                    $.ajax({
                        url: '/FarmFlock/Controller/sesiLogin.php',
                        method: 'GET',
                        dataType: 'json',
                        success: function(response) {
                            if (response.nama_ptl) {
                                $('#h4NamaPTL').text(response.nama_ptl);
                                if (response.foto_ptl == null) {
                                    $('#ppptl').attr('src', '../assets/img/gambar_profil_ptl/ppptl.png');
                                } else {
                                    $('#ppptl').attr('src', '../assets/img/gambar_profil_ptl/' + response.foto_ptl);
                                }
                            } else {
                                alert('Error: ' + response.error);
                            }
                        },
                        error: function() {
                            alert('Failed to retrieve PTL name');
                        }
                    });
                });
              </script>
              <p class="px-2 py-1 bg-custom-blue">Petugas Lapangan</p>
          </div>               

          <li class="nav-item">
              <a class="nav-link " href="dashboard_ptl.html">
              <i class="bi bi-grid"></i>
              <span>Beranda</span>
              </a>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" href="profil_ptl.html">
            <i class="bi bi-person"></i>
            <span>Profil</span>
            </a>
        </li>

          <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#gembalacerdas" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-person-check"></i><span>Gembala Cerdas</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="gembalacerdas" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                  <li class="nav-item">
                    <a href="penjadwalan_ptl.html">
                      <i class="bi bi-circle"></i><span>Penjadwalan</span>
                      </a>
                  </li>
              </ul>
          </li>

          <li class="nav-item">
              <a class="nav-link collapsed" id="logout" href="#">
              <i class="bi bi-box-arrow-right"></i>
              <span>Keluar</span>
              </a>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script>
                $(document).ready(function() {
                    $('#logout').click(function(event) {
                        event.preventDefault(); // Mencegah tautan agar tidak diarahkan ulang
        
                        $.ajax({
                          url: '/FarmFlock/Controller/sesiLogout.php',
                            type: 'POST',
                            dataType: 'json',
                            success: function(response) {
                                if (response.status === 'success') {
                                    // Redirect ke halaman login atau halaman lainnya
                                    window.location.href = '../index.html';
                                } else {
                                    alert('Gagal logout. Silakan coba lagi.');
                                }
                            },
                            error: function() {
                                alert('Terjadi kesalahan. Silakan coba lagi.');
                            }
                        });
                    });
                });
            </script>
          </li>
      </ul>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Beranda</h1>
      </div><!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <!-- Pengajuan Dalam Antrian Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Kunjungan Dalam Antrian</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar-week"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="antrian-count">Loading...</h6>
                                        <span id="antrian-percentage" class="text-success small pt-1 fw-bold">Loading...</span>
                                        <span class="text-muted small pt-2 ps-1">dari keseluruhan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Pengajuan Dalam Antrian Card -->
    
                    <!-- Pengajuan Berjalan Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Kunjungan Berjalan</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar-range"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="berjalan-count">Loading...</h6>
                                        <span id="berjalan-percentage" class="text-success small pt-1 fw-bold">Loading...</span>
                                        <span class="text-muted small pt-2 ps-1">dari keseluruhan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Pengajuan Berjalan Card -->
    
                    <!-- Pengajuan Selesai Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Kunjungan Selesai</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar-check"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="selesai-count">Loading...</h6>
                                        <span id="selesai-percentage" class="text-success small pt-1 fw-bold">Loading...</span>
                                        <span class="text-muted small pt-2 ps-1">dari keseluruhan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Pengajuan Selesai Card -->
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>
    
    <script>
    $(document).ready(function() {
      $.ajax({
          url: '/FarmFlock/Controller/sesiLogin.php',
          method: 'GET',
          dataType: 'json',
          success: function(response1) {
              $.ajax({
                url: '/FarmFlock/Controller/Kunjungan.php',
                type: 'GET',
                data: {
                    action: 'getJumlahKunjunganPTL', 
                    id_ptl: response1.id_ptl
                },
                success: function(response) {
                    var data = JSON.parse(response);
                    var belum = 0;
                    var jalan = 0;
                    var selesai = 0;

                    data.forEach(function(dataJumlah) {
                      if (dataJumlah.id_status_berjalan == 1) {
                        belum = dataJumlah.jumlah;
                      }
                      
                      if (dataJumlah.id_status_berjalan == 2) {
                        jalan = dataJumlah.jumlah;
                      }
                      
                      if (dataJumlah.id_status_berjalan == 3) {
                        selesai = dataJumlah.jumlah;
                      }
                    })

                    belum = parseInt(belum, 10);
                    jalan = parseInt(jalan, 10);
                    selesai = parseInt(selesai, 10);

                    var total = belum + jalan + selesai;

                    $('#antrian-count').text(belum);
                    $('#antrian-percentage').text(total ? ((belum / total) * 100).toFixed(2) + '%' : '0.00%');

                    $('#berjalan-count').text(jalan);
                    $('#berjalan-percentage').text(total ? ((jalan / total) * 100).toFixed(2) + '%' : '0.00%');

                    $('#selesai-count').text(selesai);
                    $('#selesai-percentage').text(total ? ((selesai / total) * 100).toFixed(2) + '%' : '0.00%');
                },
                error: function(xhr, status, error) {
                    console.error("Terjadi kesalahan: " + error);
                }
            });
          },
          error: function() {
              alert('Failed to retrieve PTL name');
          }
      });
    });
    </script>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>FarmFlock</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">B6 PPL for AGROINDUSTRI MODERN</a>
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../assets/vendor/echarts/echarts.min.js"></script>
    <script src="../assets/vendor/quill/quill.min.js"></script>
    <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>

  </body>
</html>