<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmFlock</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="icon" href="../assets/img/FarmFlock.png">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- FILE CSS -->
    <link href="../assets/style/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header_dinas" class="header fixed-top d-flex">
      <div class="container-fluid d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between">
              <i class="bi bi-list toggle-sidebar-btn"></i>
          </div>
      
          <div class="d-flex justify-content-between align-items-end">
              <a href="#" class="logo d-flex">
                  <span class="d-none d-lg-block mr-3">Farm</span>
                  <span class="d-none d-lg-block">
                      <img src="../assets/img/FarmFlock.png" alt="" style="margin-left: 5px; margin-right: 5px; margin-top: -10px;">
                  </span>
                  <span class="d-none d-lg-block">Flock</span>
              </a>
          </div>
          
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
          
        <div class="d-flex flex-column align-items-center mb-3 mt-2">
          <img id="ppdinas" alt="" height="80px" width="80px" class="rounded-circle">
          <b><h4 class="mt-3">Admin Dinas</h4></b>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script>
            $(document).ready(function() {
                $.ajax({
                    url: '/FarmFlock/Controller/sesiLogin.php',
                    method: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response.id_dinas) {
                            if (response.foto_dinas == null) {
                                $('#ppdinas').attr('src', '../assets/img/gambar_profil_dinas/ppdinas.png');
                            } else {
                                $('#ppdinas').attr('src', '../assets/img/gambar_profil_dinas/' + response.foto_dinas);
                            }
                        } else {
                            alert('Error: ' + response.error);
                        }
                    },
                    error: function() {
                        alert('Failed to retrieve Dinas');
                    }
                });
            });
          </script>
          <p class="px-2 py-1 bg-custom-green">Dinas Peternakan</p>
        </div>               

          <li class="nav-item">
              <a class="nav-link collapsed" href="dashboard_dinas.html">
              <i class="bi bi-grid"></i>
              <span>Beranda</span>
              </a>
          </li>

          <li class="nav-item">
              <a class="nav-link collapsed" href="profil_dinas.html">
              <i class="bi bi-person"></i>
              <span>Profil</span>
              </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="tambahptl_dinas.html">
              <i class="bi bi-person-plus"></i>
              <span>Akun PTL</span>
              </a>
          </li>

          <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#gembalacerdas" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-person-check"></i><span>Gembala Cerdas</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="gembalacerdas" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                  <li>
                      <a class="nav-link collapsed" data-bs-target="#pengajuan" data-bs-toggle="collapse" href="#">
                          <span>Pengajuan</span>
                      </a>
                      <ul id="pengajuan" class="nav-content-2 collapse" data-bs-parent="#nav-content">
                          <li>
                              <a href="pengajuankunjungan_dinas.html">
                              <i class="bi bi-circle"></i><span>Kunjungan</span>
                              </a>
                          </li>
                          <li>
                              <a href="pengajuanpelatihan_dinas.html">
                              <i class="bi bi-circle"></i><span>Pelatihan</span>
                              </a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link collapsed" data-bs-target="#penjadwalan" data-bs-toggle="collapse" href="#">
                          <span>Penjadwalan</span>
                      </a>
                      <ul id="penjadwalan" class="nav-content-2 collapse " data-bs-parent="#nav-content">
                          <li>
                              <a href="penjadwalankunjungan_dinas.html">
                              <i class="bi bi-circle"></i><span>Kunjungan</span>
                              </a>
                          </li>
                          <li>
                              <a href="penjadwalanpelatihan_dinas.html">
                              <i class="bi bi-circle"></i><span>Pelatihan</span>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>

          <li class="nav-item">
              <a class="nav-link collapsed" href="../index.html">
              <i class="bi bi-box-arrow-right"></i>
              <span>Keluar</span>
              </a>
          </li>
      </ul>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Akun Petugas Lapangan</h1>
        </div><!-- End Page Title -->

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalTambahPTL">Tambah</button>

        <div class="row rowTambahPTL d-flex">
            <div class="container d-flex flex-wrap" id="ptlContainer">
                <!-- Cards will be dynamically inserted here -->
            </div>
            
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    // Function to fetch PTL data
                    function getAllPTL() {
                        $.ajax({
                            url: '/FarmFlock/Controller/PTL.php',
                            type: 'GET',
                            data: { action: 'getAllPTL' },
                            success: function(response) {
                                var ptlData = JSON.parse(response);
                                populatePTLCards(ptlData);
                            },
                            error: function() {
                                alert('Failed to retrieve PTL data');
                            }
                        });
                    }

                    // Function to populate PTL cards
                    function populatePTLCards(data) {
                        var container = $('#ptlContainer');
                        container.empty(); // Clear any existing content

                        data.forEach(function(ptl) {
                            var statusText = ptl.id_status_aktif == 1 ? "Aktif" : "Non Aktif";
                            var statusClass = ptl.id_status_aktif == 1 ? "bg-success" : "bg-danger";

                            var card = `
                                <div class="col cardAkunPtl">
                                    <div class="row rowBgBiruTop d-flex align-items-center">
                                        <div class="d-flex justify-content-between w-100">
                                            <h5 class="mb-0">${ptl.nama_ptl}</h5>
                                            <div class="iconAkunPtl">
                                                <img src="../assets/img/IconAkunPtl.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row isiAkunPtl">
                                        <div class="tblAkunPtl">
                                            <table id="tblAkunPtl2">
                                                <tr>
                                                    <td id="td1">NIK</td>
                                                    <td id="td2"> : </td>
                                                    <th id="th3">${ptl.nik_ptl}</th>
                                                </tr>
                                                <tr>
                                                    <td id="td1">Email</td>
                                                    <td id="td2"> : </td>
                                                    <th id="th3">${ptl.email_ptl}</th>
                                                </tr>
                                                <tr>
                                                    <td id="td1">No Telp</td>
                                                    <td id="td2"> : </td>
                                                    <th id="th3">${ptl.no_telp_ptl}</th>
                                                </tr>
                                                <tr>
                                                    <td id="td1">Username</td>
                                                    <td id="td2"> : </td>
                                                    <th id="th3">${ptl.username_ptl}</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <h5 class="statusAktifPtl ${statusClass}" data-id="${ptl.id_ptl}">${statusText}</h5>
                                    </div>
                                </div>
                            `;
                            container.append(card);
                        });
                        $('.statusAktifPtl').click(function() {
                            var statusElement = $(this);
                            var currentStatus = statusElement.text().trim();
                            var newStatus = currentStatus === 'Aktif' ? 'Non Aktif' : 'Aktif';
                            var newStatusClass = currentStatus === 'Aktif' ? 'bg-danger' : 'bg-success';
                            var id_ptl = statusElement.data('id');
                            var newStatusId = currentStatus === 'Aktif' ? 2 : 1;

                            // Update the text and class immediately for better UX
                            statusElement.text(newStatus).removeClass('bg-success bg-danger').addClass(newStatusClass);

                            // Send AJAX request to update status in the database
                            $.ajax({
                                url: '/FarmFlock/Controller/PTL.php',
                                type: 'POST',
                                data: {
                                    action: 'updateStatusPTL',
                                    id_ptl: id_ptl,
                                    id_status_aktif: newStatusId
                                },
                                success: function(response) {
                                    console.log('Status updated successfully');
                                },
                                error: function() {
                                    alert('Failed to update status');
                                    // Revert the changes if update fails
                                    statusElement.text(currentStatus).removeClass(newStatusClass).addClass(currentStatus === 'Aktif' ? 'bg-success' : 'bg-danger');
                                }
                            });
                        });

                    }

                    // Fetch and populate PTL data on page load
                    getAllPTL();
                });

            </script>
        </div> 
        
        <!-- Modal Tambah PTL -->
        <div class="modal fade" id="ModalTambahPTL" tabindex="-1" aria-labelledby="ModalTambahPTL" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ModalTambahPTL">Tambah PTL Baru</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="Nama">Nama</label>
                            <input type="text" class="form-control" id="Nama" name="Nama"></input>
                        </div>
                        <div class="mb-3">
                            <label for="NIK">NIK</label>
                            <input type="number" class="form-control" id="NIK" name="NIK"></input>
                        </div>
                        <div class="mb-3">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" id="Email" name="Email"></input>
                        </div>
                        <div class="mb-3">
                            <label for="NoTelp">Nomor Telepon</label>
                            <input type="number" class="form-control" id="NoTelp" name="NoTelp"></input>
                        </div> 
                        <div class="mb-3">
                            <label for="Username">Username</label>
                            <input type="text" class="form-control" id="Username" name="Username"></input>
                        </div>    
                        <div class="mb-3">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" id="Password" name="Password" oninput="enableConfirmPassword()"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
                    <button type="button" class="btn btn-primary" id="btnTambahPTL" data-bs-dismiss="modal">Tambah</button>
                </div>
                
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $('#btnTambahPTL').off('click').on('click', function() {
                        var namaPtl = $('#Nama').val();
                        var nikPTL = $('#NIK').val();
                        var emailPtl = $('#Email').val();
                        var noTelpPtl = $('#NoTelp').val();
                        var usernamePtl = $('#Username').val(); 
                        var passwordPtl = $('#Password').val(); 

                        function isValidEmail(email) {
                            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                            return emailPattern.test(email);
                        }

                        function isValidPhoneNumber(phoneNumber) {
                            var phonePattern = /^\d{10,13}$/;
                            return phonePattern.test(phoneNumber);
                        }

                        if (namaPtl.trim() == '') {
                            alert("Nama tidak boleh kosong!");
                        } else if (nikPTL.trim() == '') {
                            alert("NIK tidak boleh kosong!")
                        } else if (nikPTL.trim().length != 16) {
                            alert("NIK berjumlah 16!")
                        } else if (emailPtl.trim() == '' || !isValidEmail(emailPtl)) {
                            alert('Masukkan Email dengan benar!');
                        } else if (noTelpPtl.trim() == '' || !isValidPhoneNumber(noTelpPtl)) {
                            alert('Jumlah nomor telepon tidak sesuai!')
                        } else if (usernamePtl.trim().length < 8) {
                            alert('Karakter minimal username harus 8!')
                        } else if (passwordPtl.trim() == '') {
                            alert("Password tidak boleh kosong!")
                        } else {
                            if (passwordPtl.trim().length >= 8 && /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/.test(passwordPtl)) {
                                var formData = new FormData();
                                formData.append('nama_ptl', namaPtl);
                                formData.append('nik_ptl', nikPTL);
                                formData.append('email_ptl', emailPtl);
                                formData.append('no_telp_ptl', noTelpPtl);
                                formData.append('username_ptl', usernamePtl);
                                formData.append('password_ptl', passwordPtl);
                                formData.append('action', 'addPTLBaru');
                                
                                $.ajax({
                                    url: '/FarmFlock/Controller/PTL.php',
                                    type: 'POST',
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function(data) {
                                        alert(data);
                                    }
                                });
                            } else {
                                alert("Password minimal 8 karakter dengan variasi huruf kapital, kecil, angka, dan regex!")
                            }
                        }
                    });
                </script>            
            </div>
            </div>
        </div>

    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../assets/vendor/echarts/echarts.min.js"></script>
    <script src="../assets/vendor/quill/quill.min.js"></script>
    <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>

  </body>
</html>